<div class="container">
  <div class="item">
    <div class="index">A I</div>
  </div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item">
    <div class="index">A VIII</div>
  </div>
</div>
<div class="container">
  <div class="left-box">
    <div class="container">
      <div class="item">
        <mta-chemical-element temperature-indicator="[[temperatureIndicator]]" language="[[language]]" symbol="h"></mta-chemical-element>
      </div>
      <div class="item">
        <div class="index">A II</div>
      </div>
      <div class="item"></div>
    </div>
    <div class="container">
      <div class="item">
        <mta-chemical-element temperature-indicator="[[temperatureIndicator]]" language="[[language]]" symbol="li"></mta-chemical-element>
      </div>
      <div class="item">
        <mta-chemical-element temperature-indicator="[[temperatureIndicator]]" language="[[language]]" symbol="be"></mta-chemical-element>
      </div>
      <div class="item"></div>
    </div>
  </div>
  <div class="middle-box">
    <!-- <mta-chemical-element-page temperature-indicator="[[temperatureIndicator]]" language="[[language]]" symbol="[[selectedElementSymbol]]"></mta-chemical-element-page> -->
  </div>
  <div class="right-box">
    <div class="container">
      <div class="item"></div>
      <div class="item">
        <div class="index">A III</div>
      </div>
      <div class="item">
        <div class="index">A IV</div>
      </div>
      <div class="item">
        <div class="index">A V</div>
      </div>
      <div class="item">
        <div class="index">A VI</div>
      </div>
      <div class="item">
        <div class="index">A VII</div>
      </div>
      <div class="item">
        <mta-chemical-element symbol="he"></mta-chemical-element>
      </div>
    </div>
    <div class="container">
      <div class="item"></div>
      <div class="item">
        <mta-chemical-element symbol="b"></mta-chemical-element>
      </div>
      <div class="item">
        <mta-chemical-element symbol="c"></mta-chemical-element>
      </div>
      <div class="item">
        <mta-chemical-element symbol="n"></mta-chemical-element>
      </div>
      <div class="item">
        <mta-chemical-element symbol="o"></mta-chemical-element>
      </div>
      <div class="item">
        <mta-chemical-element symbol="f"></mta-chemical-element>
      </div>
      <div class="item">
        <mta-chemical-element symbol="ne"></mta-chemical-element>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="item">
    <mta-chemical-element symbol="na"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="mg"></mta-chemical-element>
  </div>
  <div class="item">
    <div class="index">B III</div>
  </div>
  <div class="item">
    <div class="index">B IV</div>
  </div>
  <div class="item">
    <div class="index">B V</div>
  </div>
  <div class="item">
    <div class="index">B VI</div>
  </div>
  <div class="item">
    <div class="index">B VII</div>
  </div>
  <div class="item">
    <div class="index">B VIII</div>
  </div>
  <div class="item">
    <div class="index">B VIII</div>
  </div>
  <div class="item">
    <div class="index">B VIII</div>
  </div>
  <div class="item">
    <div class="index">B I</div>
  </div>
  <div class="item">
    <div class="index">B II</div>
  </div>
  <div class="item">
    <mta-chemical-element symbol="al"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="si"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="p"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="s"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="cl"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="ar"></mta-chemical-element>
  </div>
</div>
<div class="container">
  <div class="item">
    <mta-chemical-element symbol="k"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="ca"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="sc"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="ti"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="v"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="cr"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="mn"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="fe"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="co"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="ni"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="cu"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="zn"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="ga"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="ge"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="as"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="se"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="br"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="kr"></mta-chemical-element>
  </div>
</div>
<div class="container">
  <div class="item">
    <mta-chemical-element symbol="rb"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="sr"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="y"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="zr"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="nb"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="mo"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="tc"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="ru"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="rh"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="pd"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="ag"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="cd"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="in"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="sn"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="sb"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="te"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="i"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="xe"></mta-chemical-element>
  </div>
</div>
<div class="container">
  <div class="item">
    <mta-chemical-element symbol="cs"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="ba"></mta-chemical-element>
  </div>
  <div class="item">
    <!-- <paper-card class="lan­thanide">*</paper-card> -->
  </div>
  <div class="item">
    <mta-chemical-element symbol="hf"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="ta"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="w"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="re"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="os"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="ir"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="pt"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="au"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="hg"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="tl"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="pb"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="bi"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="po"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="at"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="rn"></mta-chemical-element>
  </div>
</div>
<div class="container">
  <div class="item">
    <mta-chemical-element symbol="fr"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="ra"></mta-chemical-element>
  </div>
  <div class="item">
    <!-- <paper-card class="actinide">**</paper-card> -->
  </div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>

  <!--

  <div class="item"><mta-chemical-element symbol="rf"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element symbol="db"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element symbol="sg"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element symbol="bh"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element symbol="hs"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element symbol="mt"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element symbol="ds"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element symbol="rg"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element symbol="cn"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element symbol="nh"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element symbol="fl"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element symbol="mc"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element symbol="lv"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element symbol="ts"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element symbol="og"></mta-chemical-element></div>

-->

</div>
<div class="container">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item">
    <mta-chemical-element symbol="la"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="ce"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="pr"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="nd"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="pm"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="sm"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="eu"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="gd"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="tb"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="dy"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="ho"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="er"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="tm"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="yb"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="lu"></mta-chemical-element>
  </div>
</div>

<div class="container">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item">
    <mta-chemical-element symbol="ac"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="th"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="pa"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="u"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="np"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="pu"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="am"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="cm"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="bk"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="cf"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="es"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="fm"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="md"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="no"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element symbol="lr"></mta-chemical-element>
  </div>
</div>