<div class="container">
  <div class="item">
    <div class="index">A I</div>
  </div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item">
    <div class="index">A VIII</div>
  </div>
</div>
<div class="container">
  <div class="left-box">
    <div class="container">
      <div class="item">
        <mta-chemical-element temperature-indicator="[[temperatureIndicator]]" language="[[language]]" [element]="e.h"></mta-chemical-element>
      </div>
      <div class="item">
        <div class="index">A II</div>
      </div>
      <div class="item"></div>
    </div>
    <div class="container">
      <div class="item">
        <mta-chemical-element temperature-indicator="[[temperatureIndicator]]" language="[[language]]" [element]="e.li"></mta-chemical-element>
      </div>
      <div class="item">
        <mta-chemical-element temperature-indicator="[[temperatureIndicator]]" language="[[language]]" [element]="e.be"></mta-chemical-element>
      </div>
      <div class="item"></div>
    </div>
  </div>
  <div class="middle-box">
    <mta-chemical-element-detail [element]="service.currentElement"></mta-chemical-element-detail>
  </div>
  <div class="right-box">
    <div class="container">
      <div class="item"></div>
      <div class="item">
        <div class="index">A III</div>
      </div>
      <div class="item">
        <div class="index">A IV</div>
      </div>
      <div class="item">
        <div class="index">A V</div>
      </div>
      <div class="item">
        <div class="index">A VI</div>
      </div>
      <div class="item">
        <div class="index">A VII</div>
      </div>
      <div class="item">
        <mta-chemical-element [element]="e.he"></mta-chemical-element>
      </div>
    </div>
    <div class="container">
      <div class="item"></div>
      <div class="item">
        <mta-chemical-element [element]="e.b"></mta-chemical-element>
      </div>
      <div class="item">
        <mta-chemical-element [element]="e.c"></mta-chemical-element>
      </div>
      <div class="item">
        <mta-chemical-element [element]="e.n"></mta-chemical-element>
      </div>
      <div class="item">
        <mta-chemical-element [element]="e.o"></mta-chemical-element>
      </div>
      <div class="item">
        <mta-chemical-element [element]="e.f"></mta-chemical-element>
      </div>
      <div class="item">
        <mta-chemical-element [element]="e.ne"></mta-chemical-element>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="item">
    <mta-chemical-element [element]="e.na"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.mg"></mta-chemical-element>
  </div>
  <div class="item">
    <div class="index">B III</div>
  </div>
  <div class="item">
    <div class="index">B IV</div>
  </div>
  <div class="item">
    <div class="index">B V</div>
  </div>
  <div class="item">
    <div class="index">B VI</div>
  </div>
  <div class="item">
    <div class="index">B VII</div>
  </div>
  <div class="item">
    <div class="index">B VIII</div>
  </div>
  <div class="item">
    <div class="index">B VIII</div>
  </div>
  <div class="item">
    <div class="index">B VIII</div>
  </div>
  <div class="item">
    <div class="index">B I</div>
  </div>
  <div class="item">
    <div class="index">B II</div>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.al"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.si"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.p"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.s"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.cl"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.ar"></mta-chemical-element>
  </div>
</div>
<div class="container">
  <div class="item">
    <mta-chemical-element [element]="e.k"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.ca"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.sc"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.ti"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.v"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.cr"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.mn"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.fe"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.co"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.ni"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.cu"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.zn"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.ga"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.ge"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.as"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.se"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.br"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.kr"></mta-chemical-element>
  </div>
</div>
<div class="container">
  <div class="item">
    <mta-chemical-element [element]="e.rb"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.sr"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.y"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.zr"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.nb"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.mo"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.tc"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.ru"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.rh"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.pd"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.ag"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.cd"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.in"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.sn"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.sb"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.te"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.i"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.xe"></mta-chemical-element>
  </div>
</div>
<div class="container">
  <div class="item">
    <mta-chemical-element [element]="e.cs"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.ba"></mta-chemical-element>
  </div>
  <div class="item">
    <!-- <paper-card class="lan­thanide">*</paper-card> -->
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.hf"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.ta"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.w"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.re"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.os"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.ir"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.pt"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.au"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.hg"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.tl"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.pb"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.bi"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.po"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.at"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.rn"></mta-chemical-element>
  </div>
</div>
<div class="container">
  <div class="item">
    <mta-chemical-element [element]="e.fr"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.ra"></mta-chemical-element>
  </div>
  <div class="item">
    <!-- <paper-card class="actinide">**</paper-card> -->
  </div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>

  <!--
  <div class="item"><mta-chemical-element [element]="e.rf"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element [element]="e.db"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element [element]="e.sg"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element [element]="e.bh"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element [element]="e.hs"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element [element]="e.mt"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element [element]="e.ds"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element [element]="e.rg"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element [element]="e.cn"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element [element]="e.nh"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element [element]="e.fl"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element [element]="e.mc"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element [element]="e.lv"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element [element]="e.ts"></mta-chemical-element></div>
  <div class="item"><mta-chemical-element [element]="e.og"></mta-chemical-element></div>

-->

</div>
<div class="container">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item">
    <mta-chemical-element [element]="e.la"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.ce"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.pr"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.nd"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.pm"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.sm"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.eu"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.gd"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.tb"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.dy"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.ho"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.er"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.tm"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.yb"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.lu"></mta-chemical-element>
  </div>
</div>

<div class="container">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item">
    <mta-chemical-element [element]="e.ac"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.th"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.pa"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.u"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.np"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.pu"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.am"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.cm"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.bk"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.cf"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.es"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.fm"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.md"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.no"></mta-chemical-element>
  </div>
  <div class="item">
    <mta-chemical-element [element]="e.lr"></mta-chemical-element>
  </div>
</div>